@{
    ViewBag.Title = "Home Page";
}
<div>
    <ul>
        <li style="display: inline-block; width: 30%; vertical-align: top;">
            <img style="padding-top: 60px;" src="../../Content/images/coffee_cup.png" />
        </li>
        <li style="display: inline-block; width: 40%; text-align: center;">
            <img alt="iphone4" src="../../Content/images/iphone4_front.png" style="margin: auto;" />
        </li>
        <li style="display: inline-block; vertical-align: top;">
            <img src="../../Content/images/desserts.png" />
        </li>
    </ul>
</div>