@{
    ViewBag.Title = "Yummy - You will naver fat alone";
}
<div>
    <ul>
        <li style="display: inline-block; width: 15%; vertical-align: top;">
        </li>
        <li style="display: inline-block; vertical-align: top;">
            <img alt="iphone4" src="../../Content/images/iphone4_front.png" style="margin: auto; padding-top: 10px;" />
        </li>
        <li style="display: inline-block; text-align: center;">
            <h1 class="app_header">YUMMY</h1>
            <h3 class="app_promote">you will naver fat alone.</h3>
            <img src="../../Content/images/big_smile.png" /><br />
            <a href="#">
                <img style="margin-top: 80px;" src="../../Content/images/btn_appstore.png" />
            </a>
            @*<img style="padding-top: 60px;" src="../../Content/images/coffee_cup.png" />*@
        </li>
    </ul>
</div>