@{
    ViewBag.Title = "Home Page";
}
<div>
    <ul>
        <li style="display: inline-block; width: 30%">
        </li>
        <li style="display: inline-block; width: 40%; text-align: center;">
            <img alt="iphone4" src="../../Content/images/iphone4_front.png" style="margin: auto;" />
        </li>
        <li style="display: inline-block">
        </li>
    </ul>
</div>