@{
    ViewBag.Title = "Home Page";
}
<div>
    <ul>
        <li style="display: inline-block; width: 30%; vertical-align: top;">
            <img alt="iphone4" src="../../Content/images/iphone4_front.png" style="margin: auto; padding-top: 30px;" />
        </li>
        <li style="display: inline-block; width: 40%; text-align: center;">
            <h1 class="app_header">YUMMY</h1>
            <h3 class="app_promote">You will naver fat alone.</h3>
            @*<img style="padding-top: 60px;" src="../../Content/images/coffee_cup.png" />*@
        </li>
        <li style="display: inline-block; vertical-align: top;">
        </li>
    </ul>
</div>